.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}
.settings__setting:hover {
  box-shadow: 0px 5px 5px rgba(98, 230, 46, 0.2);
  border-radius: 20px;
  padding: 20px;
}
.settings__setting:hover i {
  color: var(--yellow);
}

.settings__setting i {
  margin-right: 20px;
  font-size: 25px;
  opacity: 0.8;
}
.settings__setting-column:last-child {
  opacity: 0.5;
}
